doctype html
html(lang='en')
  head
    title='Karl Barth Quote A Day'
    link(rel='stylesheet',href='https://cdn.rawgit.com/necolas/normalize.css/d83132802e8bc10ece0c0afbe88fce83674ec252/normalize.css')
    link(rel='stylesheet',href='//fonts.googleapis.com/css?family=Titillium+Web:400,700')
    link(rel='stylesheet',href='/css/styles.css')
    link(rel='icon',type='image/png',href='/favicon.png')
  body
    #body
      .quote= quote
      .ref!= '— Karl Barth (1886 - 1968)'

